.container {
  position: sticky;
  width: 300px;
  border-right: 1px solid #eeeeee;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logoContainer {
  width: 80%;
}

.logo {
  max-width: 100%;
}

.openMenu {
  display: none;
}

.menuContainer {
  display: block;
}

/* RESPONSIVE BREAKPOINTS */

/* Responsive for desktop and laptops */

@media only screen and (min-width: 1920px) {
}

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1280px) {
}

/* Responsive for tablets */

@media only screen and (max-width: 1024px) {
  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
  }

  .logoContainer {
    width: 10rem;
  }

  .logo {
    display: block;
  }

  .menuContainer {
    display: none;
  }

  .openMenu {
    display: block;
    width: 2.5rem;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
}

/* Responsive for mobile phones */

@media only screen and (max-width: 568px) {
}
@media only screen and (max-width: 414px) {
}
@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 320px) {
}
