.navList {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.3rem;
}

.navLink {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: #42495b;
  padding: 0.3rem;
  border-radius: 5px;
}

.linkName {
  font-size: 1rem;
  font-weight: 400;
}

.activeNavLink {
  background-color: #5c98dc;
  color: white;
}
