.tag {
  display: flex;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tag * {
  flex: 1;
}

.nameContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.rateContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button:disabled {
  opacity: 0.5;
  cursor: default;
}

.editBtn {
  background-color: #77dd77;
  color: white;
  border: none;
  padding: 0.3rem 1rem;
}

.deleteBtn {
  background-color: red;
  color: white;
  border: none;
  padding: 0.3rem 1rem;
}
