.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  width: 40%;
}

.formHeading {
  display: flex;
  flex-direction: column;
}

.formTitle {
  font-size: 1.5rem;
}

.formSubtitle {
  color: #4e5365;
  font-size: 0.9rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}

.formError {
  color: red;
}

.inputField {
  padding: 0.3rem;
  width: 100%;
  border-radius: 0;
  outline: none;
  border: 1px solid #6e78ff;
  transition: 100ms;
  font-size: 1rem;
  border-radius: 5px;
}

.inputField:focus {
  border-left: 2px solid #6e78ff;
}

.createAccBtn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: #6e78ff;
  color: white;
  outline: none;
  border: none;
  grid-column-end: span 2;
  border-radius: 5px;
}

.redirectText {
  color: #4e5365;
}

/* RESPONSIVE BREAKPOINTS */

/* Responsive for desktop and laptops */

@media only screen and (max-width: 1920px) {
  .formContainer {
    width: 25%;
  }
  .createAccBtn {
    width: min-content;
    white-space: nowrap;
    margin: 1rem auto;
  }

  .inputField[type="email"] {
    grid-column-end: span 2;
  }

  .inputField[type="number"] {
    grid-column-end: span 2;
  }
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1280px) {
}

/* Responsive for tablets */

@media only screen and (max-width: 1024px) {
  .formContainer {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .formContainer {
    width: 80%;
  }
}

/* Responsive for mobile phones */

@media only screen and (max-width: 568px) {
  .formContainer {
    width: 90%;
    gap: 1rem;
  }
  .form {
    display: flex;
    flex-direction: column;
  }

  .inputField {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 414px) {
  .formContainer {
    width: 90%;
    padding: 1rem;
  }
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
  .formTitle {
    font-size: 1.3rem;
  }

  .formContainer {
    width: 100%;
  }

  .inputField {
    padding: 0.4rem;
  }
}
