.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
}

.editBtnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.editBtnContainer button {
  padding: 0.3rem 1rem;
  font-size: 0.9rem;
  background-color: #77dd77;
  color: white;
  border: none;
  border-radius: 5px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 1rem;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.inputBlock input {
  padding: 0.3rem;
  font-size: 0.9rem;
}

.inputBlock input:disabled {
  opacity: 0.6;
}

.formActions {
  display: flex;
  gap: 1rem;
}

.formActions button {
  padding: 0.3rem 1rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
}

.saveBtn {
  background-color: #77dd77;
  color: white;
}

.cancelBtn {
  background-color: #ff6961;
  color: white;
}
