.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  height: min-content;
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #252429;
}

.pageTitle {
  font-size: 1rem;
  font-weight: 500;
}

.pageSubtitle {
  font-size: 0.9rem;
}

.overview {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 2rem;
}

.leftSide {
  flex-grow: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 992px) {
  .container {
    height: 100vh;
  }
  .overview {
    flex-direction: column;
    gap: 1rem;
  }

  .leftSide {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (min-width: 1201px) {
}
